<p>
    Панграма (Грецька: <i>παν γράμμα</i>, pan gramma, "кожна літера") - речення, в якому використані всі літери абетки хоча б раз. Можливо, тобі знайомі деякі з панграм, наприклад, <i>"На подушечці форми любої є й ґудзик
    щоб пір'я геть жовте сховати."</i> або <i>"Єхидна, ґава, їжак ще й шиплячі плазуни бігцем форсують Янцзи."</i>.
</p>
<p>
    Для цього завдання ми будемо використовувати латиницю (A-Z). Дано текст з латинськими літерами та розділовими знаками. Тобі потрібно перевірити чи є дане речення панграмою. Регістр літер не має значення.
</p>

<p>
    <strong>Вхідні дані:</strong> Рядок зі словами.
</p>

<p>
    <strong>Вихідні дані:</strong> Чи є речення панграмою в вигляді логічного (булевого) значення.
</p>


<div class="for_info_only">
    <p>
        <strong>Приклади:</strong>
    </p>
<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

<p class="for_info_only">
    <strong>Як це використовується:</strong>
    Панграми використовуються для відображення шрифтів, випробування обладнання та для розвитку навичок письма, каліграфії та набору тексту на клавіатурі.
</p>

<p>
    <strong>Передумови:</strong>
</p>
{% if is_js %}
Усі ASCII літери латиниці (a-z,A-Z) і знаки пунктуації:
<pre>!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~</pre>
{% else %}
<ul>
    <li>all(ch in (string.punctuation + string.ascii_letters + " ") for ch in text);</li>
    <li>0 < len(text).</li>
</ul>
{% endif %}