<p style="text-align: justify;">
    Панграма (грец. παν <i>γράμμα</i>, pan gramma, "кожна буква") або голоалфавітне речення для заданого алфавіту - це речення, в якому кожна буква алфавіту використовується хоча б один раз. Можливо, ви знайомі з добре відомою панграмою <i>"Швидка коричнева лисиця перестрибує через лінивого пса"</i>.
</p><p>

    У цьому завданні ми будемо використовувати латинський алфавіт (A-Z). Вам надається текст з латинськими літерами та розділовими знаками. Вам потрібно перевірити, чи є речення панграмою, чи ні. Регістр не має значення.
</p>
<p>

   <strong>Вхідні</strong> дані: Текст у вигляді рядка <span>(str{% if is_js %}ing{% endif %})</span>.
</p>
<p>

   <strong>Вихідні</strong> дані: Чи є речення панграмою чи ні як логічне значення <span>(bool{% if is_js %}ean{% endif %})</span>.
</p>


<div class="for_info_only">
    <p>
        <strong>Приклади:</strong>
    </p>
<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>
<p class="for_info_only">

   <strong>Як використовується:</strong>
    Панграми використовувалися для відображення шрифтів, тестування обладнання та розвитку навичок письма, каліграфії та клавіатури протягом століть.
</p>

<p>
    <strong>Необхідні умови:</strong>
</p>
{% if is_js %}
Всі англійські літери ASCII (a-z, A-Z) та знаки пунктуації, такі як:
<pre>!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~</pre>
{% else %}
<ul>
    <li>all(ch in (string.punctuation + string.ascii_letters + " ") for ch in text);</li>
    <li>0 &lt; len(text).</li>
</ul>
{% endif %}