<p style="text-align: justify;">
    Un pangramme (grec: παν <i>γράμμα</i>, pan gramma, "chaque lettre") ou phrase holoalphabétique pour un alphabet donné est une phrase utilisant chaque lettre de l'alphabet au moins une fois. Vous connaissez peut-être le pangramme bien connu <i>"The quick brown fox jumps over the lazy dog"</i>.
</p>
<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}pangram.jpeg" alt="example" style="max-height: 300px"/>
</p>
<p>

    Pour cette mission, nous utiliserons l'alphabet latin (A-Z). On vous donne un texte avec des lettres latines et des symboles de ponctuation. Vous devez vérifier si la phrase est un pangramme ou non. La casse n'a pas d'importance.
</p>
<p>

   <strong>Entrée:</strong> Un texte sous forme de chaîne <span>(str{% if is_js %}ing{% endif %})</span>.
</p>
<p>

   <strong>Sortie:</strong> Si la phrase est un pangramme ou non en tant que valeur logique <span>(bool{% if is_js %}ean{% endif %})</span>.
</p>


<div class="for_info_only">
    <p>
        <strong>Exemples:</strong>
    </p>
<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>
<p class="for_info_only">

   <strong>Comment il est utilisé:</strong>
    Les pangrammes sont utilisés depuis des siècles pour afficher des caractères, tester des équipements et développer des compétences en écriture manuscrite, en calligraphie et en saisie au clavier.
</p>

<p>
    <strong>Condition préalable:</strong>
</p>
{% if is_js %}
Toutes les lettres ASCII anglaises (a-z,A-Z) et les ponctuations telles que:
<pre>!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~</pre>
{% else %}
<ul>
    <li>all(ch in (string.punctuation + string.ascii_letters + " ") for ch in text);</li>
    <li>0 &lt; len(text).</li>
</ul>
{% endif %}
