<p style="text-align: justify;">
    A pangram (Greek: <i>παν γράμμα</i>, pan gramma, "every letter") or holoalphabetic sentence for a given alphabet is a sentence using every letter of the alphabet at least once. Perhaps you are familiar with the well known pangram <i>"The quick brown fox jumps over the lazy dog"</i>.
</p>
<!-- <p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}pangram.png" alt="example" style="max-height: 300px"/>
</p> -->
<p>
    For this mission, we will use the latin alphabet (A-Z). You are given a text with latin letters and punctuation symbols. You need to check if the sentence is a pangram or not. Case does not matter.
</p>

<p>
    <strong>Input:</strong> A text as a string <span translate="no">(str{% if is_js %}ing{% endif %})</span>.
</p>

<p>
    <strong>Output:</strong> Whether the sentence is a pangram or not as logic value <span translate="no">(bool{% if is_js %}ean{% endif %})</span>.
</p>


<div class="for_info_only">
    <p>
        <strong>Examples:</strong>
    </p>
<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

<p class="for_info_only">
    <strong>How it is used:</strong>
    Pangrams have been used to display typefaces, test equipment, and develop skills in handwriting, calligraphy, and keyboarding for ages.
</p>

<p>
    <strong>Precondition:</strong>
</p>
{% if is_js %}
All ASCII English Letter(a-z,A-Z) and punctuations such as:
<pre>!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~</pre>
{% else %}
<ul>
    <li>all(ch in (string.punctuation + string.ascii_letters + " ") for ch in text);</li>
    <li>0 < len(text).</li>
</ul>
{% endif %}
