<p>
    Ein Pangramm (aus dem griechischen: παν γράμμα, pan gramma, "jeder Buchstabe") oder
    holoalphabetischer Satz ist ein Satz, der jeden Buchstaben eines bestimmten Alphabets
    mindestens einmal verwendet.<br>
    Vielleicht hast du schon einmal von diesem deutschen Pangramm gehört:<br>
    <i>»Franz jagt im komplett verwahrlosten Taxi quer durch Bayern.«</i><br>
    Als ein <i>echtes</i> Pangramm bezeichnet man einen Satz, der jeden Buchstaben eines
    bestimmten Alphabets <i>genau einmal</i> enthält.
</p>
<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}pangram.png" alt="example" style="max-height: 300px"/>
</p>

<p>
    Für diese Mission verwenden wir das lateinische Alphabet (A-Z).<br>
    Du erhältst einen Text mit lateinischen Buchstaben und Interpunktionszeichen und
    sollst prüfen, ob der Satz ein Pangramm ist oder nicht. Groß- / Kleinschreibung spielt
    keine Rolle.
</p>


<p>
    <strong>Eingabe: </strong> Ein Text als String.
</p>

<p>
    <strong>Ausgabe: </strong>
    Ob der Satz ein Pangramm ist oder nicht, als boolescher Wert.
</p>


<div class="for_info_only">
    <p>
        <strong>Beispiel:</strong>
    </p>
<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

<p class="for_info_only">
    <strong>Wozu das gut ist: </strong>
    Pangramme werden zum Beispiel verwendet, um Schriftenarten zu präsentieren oder um die
    Handschrift, Kalligrafie und das Maschinenschreiben zu üben.
</p>

<p>
    <strong>Bedingungen:</strong>
</p>
{% if is_js %}
All ASCII English Letter(a-z,A-Z) and punctuations such as:
<pre>!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~</pre>
{% else %}
<ul>
    <li>all(ch in (string.punctuation + string.ascii_letters + " ") for ch in text);</li>
    <li>0 < len(text).</li>
</ul>
{% endif %}
