<p style="text-align: justify;">
    Ein Pangramm (griechisch: παν <i>γράμμα</i>, pan gramma, "jeder Buchstabe") oder holoalphabetischer Satz für ein bestimmtes Alphabet ist ein Satz, in dem jeder Buchstabe des Alphabets mindestens einmal vorkommt. Vielleicht kennen Sie das bekannte Pangramm <i>"Der schnelle braune Fuchs springt über den faulen Hund"</i>.
</p>
<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}pangram.jpeg" alt="example" style="max-height: 300px"/>
</p>
<p>
    Für diese Aufgabe werden wir das lateinische Alphabet (A-Z) verwenden. Sie erhalten einen Text mit lateinischen Buchstaben und Interpunktionszeichen. Sie müssen prüfen, ob der Satz ein Pangramm ist oder nicht. Die Groß- und Kleinschreibung spielt keine Rolle.
</p>

<p>
   <strong>Eingabe:</strong> Ein Text als Zeichenkette <span>(str{% if is_js %}ing{% endif %})</span>.
</p>

<p>
   <strong>Ausgabe:</strong> Ob der Satz ein Pangramm ist oder nicht als logischer Wert <span>(bool{% if is_js %}ean{% endif %})</span>.
</p>


<div class="for_info_only">
    <p>
        <strong>Beispiele:</strong>
    </p>
<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

<p class="for_info_only">
   <strong>Wie es verwendet wird:</strong>
    Pangramme werden seit jeher verwendet, um Schriftarten darzustellen, Geräte zu testen und Fähigkeiten in Handschrift, Kalligraphie und Tastaturschreiben zu entwickeln.
</p>

<p>
    <strong>Vorbedingung:</strong>
</p>
{% if is_js %}
Alle englischen ASCII-Buchstaben (a-z,A-Z) und Interpunktionen wie z.B.:
<pre>!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~</pre>
{% else %}
<ul>
    <li>all(ch in (string.punctuation + string.ascii_letters + " ") for ch in text);</li>
    <li>0 &lt; len(text).</li>
</ul>
{% endif %}
